.App {
  text-align: center;
  margin: 50px 100px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.card{
  min-width: 250px;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  transition: .5s;
}
.card > img{
  width: 100%;
  border-radius: 15px 15px 0 0;
  box-shadow: 3px 3px 3px #666;
}
/*  */
.card:hover{
  transform: scale(1.05);
}